<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div id="bodychild">
        <div id="outercontainer">

            <!-- HEADER -->
            <div id="outerheader">
                <div id="outertheheader">

                    <header id="top">
                        <div class="container">
                            <div class="twelve columns">
                                <div id="logo" class="three columns alpha"><a href=""><img src="~/images/logo1.png" alt="" /></a></div>
                                <section id="navigation">
                                    <nav id="nav-wrap">
                                        <ul id="topnav" class="sf-menu">
                                           
                                            <li>
                                                <a href="~/Home/Index">Home</a>
                                            </li>
                                            <li><a href="~/Products/Index">Product</a></li>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li><a href="~/Home/Manage">Administration</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="~/Home/Manage">Details</a></li>
                                            }
                                            <li><a href="~/Home/HelpMe">HelpMe</a></li>
                                            <li><a href="~/Home/ContactUs">ContactUs</a></li>
                                            <li><a href="~/Home/AboutUs">AboutUs</a></li>
                                        </ul><!-- topnav -->
                                    </nav><!-- nav -->
                                </section>
                                    <section id="login">
                                        @Html.Partial("_LoginPartial")
                                    </section>

                            </div>
                        </div>

                    </header>



                </div>
            </div>
            <!-- END HEADER -->
            <!-- MAIN CONTENT -->

            <div id="outermain">
                @RenderBody()
            </div>
            <!-- END MAIN CONTENT -->

            <div id="footerstrip"><div></div></div>


            <!-- FOOTER -->
            <div id="outerfooter">
                <div class="container">
                    <div id="footercontainer" class="twelve columns">
                        <footer id="footer">Team - Rose Arthur Lisa Emily</footer>
                        <div id="toTop">^ Back to Top</div>
                    </div>
                </div>
            </div>
            <!-- END FOOTER -->

        </div><!-- end outercontainer -->
    </div><!-- end bodychild -->
    <!-- ////////////////////////////////// -->
    <!-- //      Javascript Files        // -->
    <!-- ////////////////////////////////// -->
    @RenderSection("scripts", required: false)
</body>
</html>
